* {
    margin: 0;
    padding: 0;
}

.container1 {
    overflow: hidden;
}

.nav {
    background: #2B2B2B;
    display: grid;
    grid-template-columns: 6fr 6fr;
    width: 100%;
    height: 100px;
    margin: auto;
    align-items: center;
}

.logo {
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    text-decoration: none;
    color: white;
    padding-left: 20px;
}

.nav ul {
    display: flex;
}

.nav ul li {
    list-style: none;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
}

.nav ul li a {
    text-decoration: none;
    padding: 20px;
    color: white;
    transition: .5s all ease;
}

.nav ul li a:hover {
    color: black;
    background: #DC9D88;
    cursor: pointer;
}

#ham_menu {
    display: none;
}

.ham_menu_bar {
    font-size: 22px;
    display: none;
}

main {
    background-color: #DC9D88;
}

header,
footer {
    background-color: #2B2B2B;
    color: white;
}

/* Links */

.cta-button1 {
    background-color: #2B2B2B;
    color: white;
    text-decoration: none;
    font-size: 1.7em;
    text-transform: uppercase;
    padding: 5px 50px;
    border-radius: 50px;
}

.active {
    text-decoration: underline;
}


/* Home Page*/

.welcome {
    background-image: url("/images/homepage1.jpeg");
    height: 75vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    background-position: left;
    position: relative;
}

.content {
    font-family: 'Dancing Script', cursive;
    position: absolute;
    top: 35%;
    left: 35%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-size: 30px;
}

.container {
    height: 80vh;
}

.our-products h2 {
    font-family: 'Lobster', cursive;
    font-weight: lighter;
    font-size: 80px;
    text-decoration: underline;
    margin-top: 20px;
    text-align: center;
    padding-bottom: 50px;
}

.our-products h3 {
    font-family: 'Noto Serif', serif;
    font-size: 25px;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    margin-bottom: 80px;
}

.grid {
    margin-left: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    align-items: center;
    margin-bottom: 50px;
}

.grid article {
    background: #5f5c5c;
    border: none;
    box-shadow: 2px 2px 6px 0px black;
    border-radius: 5px;
    text-align: center;
    width: 500px;
    transition: transfrom .3s;
    margin-left: 25px;
    margin-right: 50px;
}

.grid article img {
    padding: 30px;
    width: 50%;
    height: 30vh;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;

}

.text {
    font-family: 'Noto Serif', serif;
    padding: 0 20px 20px;
}

.text h4 {
    font-family: 'Noto Serif', serif;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 20px;
}

.cta-button {
    font-family: 'Noto Serif', serif;
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 15px;
    text-transform: none;
    padding: 10px 20px;
    border-radius: 50px;
    margin-left: 46%;
}

/* About us page */

.aboutus {
    height: 160vh;
}

.about {
    background-image: url(/images/Aboutus1.jpeg);
    min-height: 58vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    background-position: left;
    position: relative;

}

.content2 {
    font-family: 'Dancing Script', cursive;
    position: absolute;
    top: 35%;
    left: 25%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-size: 40px;
}

.content3 {
    max-width: 1000px;
    margin: 50px auto;
    text-align: center;
    padding-top: 80px;
}

.content3 h2 {
    font-family: 'Noto Serif', serif;
    font-size: 40px;
    text-decoration: underline;
}

.content3 h3 {
    font-family: 'Noto Serif', serif;
    font-size: 25px;
    font-weight: lighter;
    padding-top: 50px;
}

.content3 h4 {
    font-size: 25px;
    font-weight: lighter;
    padding-top: 50px;
}

.content3__images {
    height: 500px;
    padding-top: 80px;
}


/* Contact page */

input,
textarea {
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
    padding: 10px;

}

.contact {
    max-width: 1000px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 150px;
    margin-left: 300px;
}

.contact h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 90px;
    margin-top: 0px;
}

.form-wrapper {
    padding-top: 50px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    text-align: left;
    font-size: 25px;
    text-decoration: underline;
    font-weight: lighter;
}


.form-wrapper>* {
    flex: 1;
    display: flex;
    flex-direction: column;
}

textarea {
    height: 80%;
}

.cta-button2 {
    margin-top: 30px;
    font-family: 'Noto Serif', serif;
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 20px;
    height: 40px;
    text-transform: none;
    padding: 5px 50px;
    border-radius: 50px;
    border-color: #707070;
}

/* Products page */


.conteiner2 {
    height: 100vh;
}

.our-products h2 {
    margin: 0;
    padding-top: 100px;
}

.cta-button3 {
    font-family: 'Noto Serif', serif;
    font-weight: bold;
    background-color: #CFDFDE;
    color: black;
    text-decoration: none;
    font-size: 1em;
    text-transform: none;
    padding: 5px 40px;
    border-radius: 50px;
    border-color: black;
}

/* Locations page */

.grid2 {
    height: 80vh;
    padding: 50px;
    margin-left: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    align-items: center;
    margin-bottom: 50px;
}

.grid2 article {
    height: 40vh;
    background: #cfdfde;
    border: none;
    box-shadow: 2px 2px 6px 0px black;
    border-radius: 5px;
    text-align: center;
    width: 500px;
    margin-left: 25px;
    margin-right: 50px;
}

.text2 {
    padding: 30px 30px 30px;
    font-size: 20px;
}


.text2 h4 {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 30px;
    padding-bottom: 30px;
}

.text2 h3 {
    text-decoration: underline;
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Footer */

footer {
    text-align: center;
}

.footer {
    padding: 40px;
}

.footer .social-media {
    text-align: center;
    padding-bottom: 30px;
}

.footer .social-media a {
    font-size: 30px;
    color: white;
    border: 1px solid white;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    border-radius: 20%;
    margin: 0 10px;
    opacity: 0.8;
}

.footer .social-media a:hover {
    opacity: 10;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 20px;
    line-height: 1.8;
    margin-bottom: 0;
    text-align: center;
}

.footer ul a {
    font-family: 'Noto Serif', serif;
    color: white;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li {
    display: inline-block;
    padding: 0 30px;
}

.footer ul li a:hover {
    opacity: 2;
}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
    color: white;
}

@media(max-width:600px) {
    .ham_menu_bar {
        display: block;
        z-index: 10;
        padding-left: 170%;
    }

    .logo {
        font-size: 40px;
        position: absolute;
    }

    .nav ul {
        display: grid;
        position: fixed;
        top: 100px;
        height: 60vh;
        background-color: #2B2B2B;
        width: 400px;
        left: -120%;
        font-size: 17px;
        transition: .5s ease;
        text-align: center;
        padding-top: 30px;
    }

    .nav ul li a {
        color: #DC9D88;
    }

    .nav ul li a:hover {
        color: black;
    }

    #ham_menu:checked~ul {
        left: 0;
    }

    #ham_menu:checked~.ham_menu_bar i::before {
        content: "\f00d";
    }

    .welcome {
        display: none;
    }

    .content {
        display: none;
    }

    .container {
        height: 250vh;
    }

    .our-products h2 {
        font-size: 40px;
        padding-top: 80px;
    }

    .our-products h3 {
        padding-top: 40px;
        font-size: 20px;
        font-weight: normal;
    }

    .grid {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 10px;
        justify-items: auto;
    }

    .grid article {
        text-align: center;
        margin-left: 15px;
        max-width: 320px;
    }

    .cta-button {
        margin-left: 100px;
    }

    .footer .social-media a {
        font-size: 15px;
        border-radius: 20%;
    }

    .footer ul {
        font-size: 15px;
        display: grid;
    }

    .footer .copyright {
        font-size: 10px;
    }

    .about {
        display: none;
    }

    .content3 {
        margin: 0;
    }

    .content3 h2 {
        font-size: 25px;
        padding-top: 80px;
    }

    .content3 h3 {
        font-size: 18px;
        padding-top: 60px;
        align-items: center;
        padding-right: 10px;
    }

    .content3 h4 {
        font-size: 20px;
        padding-top: 60px;
    }

    .content3__images {
        height: 30vh;
        padding-top: 50px;
        border-radius: 0;
    }

    .aboutus {
        height: 140vh;
    }

    .contact {
        margin-top: 0;
        margin-bottom: 0;
        padding: 20px;
        margin-left: 0;
    }

    .contact h1 {
        font-size: 50px;
    }

    .form-wrapper {
        display: grid;
        font-size: 15px;
    }

    .grid2 {
        height: 100%;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0px;
    }

    .grid2 article {
        height: 70vh;
        width: 300px;
        margin-left: 0;
        background: #DC9D88;
    }
}

@media(max-width:1000px) {}